.homePageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#fff;
  height: 100vh;
}

.formWrapper {
  background-color: #3A3B3C;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
}

footer {
  margin-top: 20px;
  color: #ccc;
  position: fixed;
  bottom: 10px;
}

.inputGroup {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-left: 24%;
  margin-top: auto;
  font-weight: bold;
}

.homePageLogo {
  margin-bottom: 20px;
  height: 100px;
  margin-left: 22%;
}

.inputBox {
  padding: 10px;
  border: 1px solid #555;
  margin-bottom: 10px;
  border-radius: 10px;
  outline: none;
  background-color: #2C2D2E;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  padding: 10px;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.joinBtn, .leaveBtn {
  background-color: #4CAF50;
  width: 40%;
  margin-left: 30%;
} 
.joinBtn:hover, .leaveBtn:hover {
  background-color: rgb(134, 206, 62);
  transform: scale(1.05);
}

.createNewBtn {
  color :rgb(122, 227, 17);
  text-decoration: none;
  border-bottom: 1px solid rgb(122, 227, 17);
}
.createNewBtn:hover {
  color: rgb(62, 122, 6);
  transform: scale(1.05);
}

.createInfo {
  margin-top: 1=20px;
  font-size: 14px;
  color: #ccc;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #2C2D2E;
  display: flex;
  max-height: 100vh;
  flex-direction: column;
}

.asideInner {
  flex: 1;
  flex-direction: column;
  height:100%;
}

.connectedText {
  border-bottom: 10px solid #555;
  color: #4CAF50;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 10px;
  text-align: center;
}


.clientsList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
  gap: 35px;
}

.clientsList::-webkit-scrollbar {
  width: 8px;
}

.clientsList::-webkit-scrollbar-thumb {
  background-color: #6c6c6c;
  border-radius: 4px;
}

.client {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #555; 
  font-weight: bold;
}

.userName {
  margin-top: 5px;
}

.logo {
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}
.logoImage {
  height: 60px;
  margin: 10px 0;
  margin-left: 20%;
}

.leaveBtn, .copyBtn {
  margin-left: 5%;
  width: 90%;
}

.CodeMirror {
  min-height: calc(100vh - 115px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.editorWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.editorHeader {
  height: 94px;
  background-color: #374151;
  border-bottom: 1px solid rgba(251, 291, 36, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}
.editorHeader .button {
  transition: background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
  border-radius: 0.5rem;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}

.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    
}

.dropdown-toggle:hover {
    background-color: #157347;
    border-color: #146c43;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: 0.25em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none; 
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    width: 10%;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #1e2125;
    background-color: #e9ecef;
    width: 80%;
}

.addNew, .run {
  background-color: gray;
  margin-right: 10px;
  color: white;
  opacity: 100%;
}
.addNew:hover {
  background-color: #5a6268;
}

.runImage {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: white;
  opacity: 100%;
  vertical-align: middle;
}

.run{
  background-color: rgb(165, 8, 227);
}

.run:hover {
  background-color: rgb(134, 6, 185);
}

.addNew{
  margin-right: 20%;
}

@media (min-width: 1290px) {
  .addNew {
    margin-right: 60%;
  }
}






















































@media (max-width: 700px) {
  .dropdown {
    display: block;
    width: 100%;
  }
  .dropdown-toggle {
    width: 100%;
    display: block;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    text-align: left;

  }
  .dropdown-menu {
    width: 120%;
    min-width: unset;
    position: static;
    margin-top: 5px;
  }
  .dropdown-item {
    padding : 0.5rem 1rem;
    white-space: normal;
  }
  .addNew, .run{
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 70px;
  }
  .addNew{
    margin-right: 0 ;
  }
  .dropdown-item:hover,
    .dropdown-item:focus {
        width: 100%; 
    }
}